# JWT and Cookie Environment Variables Example
JWT_ISS=your-issuer
JWT_AUD=your-audience
JWT_EXPIRATION=900 # 15 minutes
JWT_REFRESH_EXPIRATION=1209600 # 14 days
JWT_KID=your-key-id
JWT_KEY_PRIVATE_PATH=your-private-key-path
JWT_KEY_PUBLIC_PATH=your-public-key-path
COOKIE_DOMAIN=your.domain.com
COOKIE_SECURE=true
COOKIE_SAMESITE=lax
COOKIE_PATH=/
NODE_ENV=development

PORT=3000
DATABASE_URL=dbType://username:password@host:port/dbname
